*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: #1e1e2f;
}

.container{
    width: 500px;
    text-align: center;
}

h1{
    font-size: 36px;
    margin-bottom: 60px;
    word-spacing: 10px;
    color: #ffc107;
}

#textBox{
    outline: none;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    resize: none;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 0 20px #000;
}

#textBox::placeholder{
    font-size: 15px;
}

.characters{
    width: 40%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

#count{
    color: #ffcc00;
}

